@import url("../../assetes/css/normalize.css");
@font-face {
    font-family: "Roboto"; 
    src: url("../../assetes/fonts/Roboto-Regular.ttf"); 
    font-style: normal; 
    font-weight:400; 
}
* {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #0A143A;
}
.like{
    margin-left:-20px ;
}
.like2{
    margin-right:5px;
    margin-bottom:10px;
}
.like:hover{
    background:url(../../assetes/img/Vector.png);
}

.price{
    font-weight:700;
    margin-top: -10px;
}
.text{
    font-size: 24px;
    color:#0A143A;
}
.container{
    margin:0 auto;
    width: 100%;
    height: 900px;
    
}
.wrapper{
    width: 1146px;
    margin:0 auto;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
}
.header__container{
    height:36px;
    margin-top:30px;
    width:1146px;
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.main__container{
    border:0px solid black;
    width:1146px;
    
}
.main-services{
    width: 231px;
    height: 410px;
    border: 0px solid black;
    margin-left: 882px;
    margin-top: -620px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.img1{
    width: 27px;
    height: 27px;
}
.img2{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.img-serv{
    width: 30px;
    height: 30px;
    
    
}
.header_logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}
.header__logi{
    font-size: 14px;
    text-decoration: none;
    color: #0A143A;

}
.servis{
    display: flex;
    align-items: center;
    gap:20px;
    margin-left: 450px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    
}
.nav__item:hover{
    text-decoration:underline;
}
.nav__item{
    margin-right: 11px;
    text-decoration: none;
    color: #0A143A;
    font-size: 14px;
}
.bt1{
    width: 161px;
    height: 36px;
    background-color:#256EEB;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
   
}
.input_bg{
    height: 46px;
    width: 1146px;
    background-color:#256EEB;
    margin-top: 88px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #256EEB;
    
}
.input_block{
    height: 46px;
    width: 1052px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #256EEB;
    display: flex;
    align-items: center;
}
.input_bg:focus-within{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.bt2{
    width: 900px;
    background-color: white;
    border:none;
    margin-left: 21px;
    
}
.bt2:active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}

.bt3{
    border: 0px;
    background-color: #256EEB;
    
}
.text2{
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: #256EEB;
    border: 0px;
    margin-right:10px;
    
}
.imgandbt3{
    background-color: #256EEB;
    width: 116px;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.bt3:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.input_bg:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.main-cards1{
    width: 852px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap:30px;

    border: 0px solid black;
}
.main-cards2{
    margin-top:14px;
    width: 852px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap:30px;
    border: 0px solid black;
}
.card-img{
    width: 264px;
    height: 178px;
    
}
.sun{
    color: #256EEB;
}
.card-img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.ttilec:hover{
    text-decoration:underline;
    color: #0A143A;
}

.ttilec{
    font-size: 16px;
    color:#256EEB;
    margin-top:10px;
}
.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.card-text{
    color:#C4C4C4;
    font-size: 14px;
}

.main-info{
    border: 0px solid black;
    height:650px;
    width: 852px;
    margin-top:10px;
}
.serv-title{
    color: #0A143A;
    font-size: 14px;
    margin-top:8px;
}
.main-text{
    color: #0A143A;
    margin-top: 42px;
    font-size: 24px;
}
.main-text2{
    color: #0A143A;
    font-size: 18px;
    margin-right: 106px;
    margin-top: 51px;
}

.title{
    display: flex;
    justify-content: space-between;
   
}
.serv-text{
    color: #0A143A;
    font-size: 14px;
    margin-top: -5px;
    
}

.delivery, .auto, .hostel{
    width: 217px;
    height: 110px;
}
.line{
    width: 261px;
    height: 2px;
    background-color: #E5E5E5;
}

.footer__container{
    border: 0px solid black;
    width: 261px;
    height: 200px;
    margin-left: 880px;
    margin-top:-410px;
}
.footer-a{
    text-decoration:underline;
    color: #C4C4C4;
    font-size: 14px;
    
}
.footer_content{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: -10px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: -1px;
    margin-top: 16px;
    font-size: 12px;
    gap:5px;
}
.nav__item-footer{
    align-items:flex-start;
}
.nav__item-footer:hover{
    color: #256EEB;
}
@media(max-width:320px){
    .wrapper{
        max-width: 270px;
    }
    .header__nav{
        display: none;
    }
}